@use "../globals" as * ;
@use "../parts/common" as * ;

.houses {
    @extend .content-width;
    @extend .mb-lg;

    &__inner {
        @extend .flex;
    }

    &__item {
        @include mq(md) {
            flex-basis: 50%; //μ¤λ§νΈν°
        }
    }

    &__title {
        @extend .mb-sm;
    }

    &__btn {
        text-align: center;
        flex-basis: 100%;

    }
}